<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.bonny.app.wisespender">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiseSpender">
        <activity
            android:name=".manager.ListCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".manager.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".manager.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".manager.NewEditAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.WiseSpender1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".manager.MainActivity" />
        </activity>
        <activity
            android:name=".manager.ListAccountsActivity"
            android:exported="false"
            android:theme="@style/Theme.WiseSpender1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".manager.MainActivity" />
        </activity>
    </application>

</manifest>